.formContainer {
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 60vw;
    min-width: 400px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.saleTitle {
    margin: 30px;
}

.saleDone {
    padding: 10px;
    border: 5px solid black;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}